ul.customStyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.customStyle {
  float: left;
}
li a, .ourdropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .ourdropdown:hover .ourdropbtn {
  background-color: red;
}

li.ourdropdown {
  display: inline-block;
}

.ourdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ourdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.ourdropdown-content a:hover {background-color: #f1f1f1;}

.ourdropdown:hover .ourdropdown-content {
  display: block;
}
